

<div class="container-fluid" id="containerbg">
    <div class="container w-75 p-5 rounded">
        <div class="row align-item-stretch shadow">
            <div class="col rounded" id="loginForm">
                <h2 class="fw-bold text-center py-5">Login in IES</h2>
                <!--Login-->
                <form [formGroup]="loginForm" (submit)="doLogin()" class="p-1">
                    <div class="form-floating mb-4">
                        <input formControlName="username" type="email" name="email" class="form-control" id="floatingInput">
                        <label for="floatingInput" class="text-dark">Email</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input formControlName="password" type="password" name="password" class="form-control" id="floatinginput">
                        <span><i class="fa fa-eye"></i></span>
                        <label for="floatinginput" class="text-dark">Password</label>
                    </div>
                    <div class="mb-4 form-check">
                        <input type="checkbox" name="checkbox" class="form-check-input">
                        <label for="rememberme" class="form-check-label">Remember Me</label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">login</button>
                    </div>
                    <div class="my-3 text-center">
                        <span>Do not have account yet?<a href="register">Register</a></span><br>
                        <span><a href="">Forget Password?</a></span>
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>